@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Quicksand:wght@300..700&display=swap');

:root {
 --color-primary: #FAA307;
 --color-secondary: #ff8500;
 --color-tertiary:#023047;

 --color-accent: #cc5803;
 --color-accent2:#D00000;
 --color-accent3:#6A040F;

 --color-muted: #DCDCDD;
 --color-muted2: #C5C3C6;
 --color-muted3:#46494C;

 --font-body: 'Quicksand', sans-serif;
 --font-heading: 'Fredoka', sans-serif;

 --space-sm: 2rem;
 --space-md: 3rem;
 --space-lg: 5rem;
 --space-xlg: 8rem;
}

html{
	font-size:62.5%;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

h1{
    font-size:4rem;
    line-height:6rem;
    color:var(--color-accent3);
}

h2{
    font-size:3rem;
    line-height:5rem;
    color:var(--color-accent3);
    margin-bottom:2rem;
    /*margin is used to control the space at the bottom of h2 to ensure it is spaced correctly from p*/
}

h3{
    font-size:2rem;
    line-height:4rem;
    color:var(--color-accent);
}

h4{
    font-size:1.5rem;
    line-height:3rem;
    color:var(--color-accent);
    padding-left:3rem;
    /*padding is used to add space between h4 and the border of main*/
}

p{
    font-size:1.5rem;
    line-height:2rem;
    color:var(--color-tertiary);
    padding-left:2rem;
    /*padding is used to add space between p and the border of main*/
}

small{
    font-size:0.5rem;
    line-height:2rem;
    color:var(--color-tertiary);
}

blockquote{
    font-size:1.5rem;
    line-height:4rem;
    color:var(--color-tertiary);
}

code{
    font-size:1rem;
    line-height:1rem;
    color:var(--color-tertiary);
}

caption{
    font-size:1rem;
    line-height:0.5rem;
    color:var(--color-tertiary);
}

header{
    background-color:var(--color-secondary);
    padding: var(--space-sm);
    padding-left:7rem;
    color:var(--color-accent) ;
    border-radius: 2.5rem;
    margin-bottom:var(--space-lg);
    /*margin is used to ensure that header does not clash with main*/
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: space-between;
}

nav{
    background-color:var(--color-primary);
    padding: var(--space-sm);
    padding-left:7rem;
    color:var(--color-muted3) ;
    border-radius: 2.5rem;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: space-between;
    position:sticky;
    top:0;
    z-index:100;
    flex-wrap:wrap;
    gap:2rem;
}

nav ul, .nav-link-list{
    display:flex;
    flex-wrap:wrap;
    gap:2rem;
}

nav a{
    font-size:2rem;
    transition:color 0.2s,background-color 0.2s;
    border-bottom: 1rem solid transparent;
}

nav a.active{
    border-bottom:1rem solid var(--color-accent);
}

nav a:hover{
    color:var(--color-muted3);
    background-color:var(--color-accent3);
}

.sname{
    font-size:2rem;
    color:var(--color-accent3);
}

.header-text {
    display: flex;
    flex-direction: column;
}

.profile{
    width:10rem;
    height:10rem;
    background-color:white;
}

main{
    background-color:var(--color-primary);
    padding: var(--space-sm);
    padding-left:7rem;
    color:var(--color-muted3) ;
    border-radius: 2.5rem;
    box-shadow: 0.5rem 1rem;
    margin-bottom:var(--space-md);
    /*margin is used to ensure that main does not clash with footer*/
}

footer{
    background-color:var(--color-tertiary);
    padding: var(--space-sm);
    padding-left:7rem;
    color:var(--color-muted3) ;
    border-radius: 2.5rem;
}

a{
    font-size:2rem;
}

a:link{
    color:var(--color-accent);
}

a:visited{
    color:var(--color-accent2);
}

a:hover{
    color:var(--color-secondary);
}

a:active{
    color:var(--color-muted);
}

button{
    border-radius:2.5rem;
}

.page-grid{
    display: grid;
    gap:1.5rem;
    grid-template-columns:repeat(auto-fit, minmax(260px,1fr));
}

.page-card{
    display: grid;
    grid-template-rows:6rem 5rem;
    background-color: var(--color-muted);
    border-radius: 1rem;
    border: 0.2rem solid var(--color-accent);
    color:var(--color-tertiary);
    transition: transform 0.2s;
}

.layout{
    display:grid;
    grid-template-columns:1fr 280px;
}

aside {
    display:flex;
    flex-direction: column;
    background-color: var(--color-muted);
    padding: var(--space-sm);
    color: var(--color-tertiary);
}

.span-page-card{
    display:grid;
    grid-column:span 2;
    background-color: var(--color-muted);
    border-radius: 1rem;
    border: 0.2rem solid var(--color-accent);
    color:var(--color-tertiary);
    transition: transform 0.2s;
}

.page-card:hover, .span-page-card:hover {
    transform: translateY(-4px); 
}